/*--------------------------------
1: GENERELT
2: MENU
3: HEADER
4: DIV'ER
5: SPECIFIKT LOGIN
6: FORMS
7: FACEBOOK-KNAP
8: SPECIFIKT INDEX
9: SPECIFIKT SKEMA
10: SPECIFIKT MATERIALER
11: FOOTER
12: MEDIAQUERIES
13: ANIMATIONER
--------------------------------*/
/*--------------------------------
1: GENERELT
--------------------------------*/

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    max-height: 1366px;
    overflow: scroll;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    max-height: 1366px;
    overflow: scroll;
}

* {
    box-sizing: border-box;
}

.section_wrapper {
    max-width: 902px;
    margin: 0 auto;
    height: auto;
}

.hide {
    display: none;
}

html {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #EA5045;
}

#skema:hover,
#docs:hover,
#menuknap:hover {
    cursor: pointer;
}

.usynlig {
    opacity: 0;
}

h1 {
    font-size: 0.1rem;
}

/*--------------------------------
2: MENU
--------------------------------*/

.hidden {
    transform: translateX(100%);
    opacity: 0;
}



.nav {
    display: none;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    height: 3.5rem;
    width: 100vw;
    max-width: 900px;
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    z-index: 100;
}

#menuknap {
    display: inline-block;
    font-family: sans-serif;
    color: white;
    font-family: 'Open Sans',
        sans-serif;
}

.font {
    padding: 1rem 0.5rem 0 1rem;
    font-family: arial, sans-serif;
    font-size: 1.7rem;
    align-self: flex-end;
    z-index: 160;
    transform: scale(1.4, 1);
}

.xfont {
    font-size: 1.7rem;
    padding: 1rem 1rem 0 1.5rem;
    transform: scale(1.5, 1);
    font-weight: 400;
    z-index: 160;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    background-color: #3F3140;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    z-index: 150;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
}

ul {
    z-index: 10;
    list-style-type: none;
    overflow: scroll;
    width: 70vw;
}


ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

}

#menu img {
    margin-top: 6rem;
    margin-bottom: 2rem;
    width: 40vw;
    max-width: 20rem;
}

li {
    padding: 3rem 0 0 0;
}

#menu a,
.nav a {
    color: #f58e81;
    text-decoration: none;
    font-family: Gibson, sans-serif;
    font-size: 1.3rem;
    z-index: 101;
}

.nav a {
    line-height: 5rem;
}

.nav li {
    list-style: none;
}

.logud {
    background-color: #f58e81;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0vh;
    z-index: 100;

}

#menu .logud a {
    color: white;
}


/*--------------------------------
3: HEADER
--------------------------------*/


.header1 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4.5rem;
    background-color: white;
    z-index: 99;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: fixed;
}

.header,
nav {
    position: fixed;
    top: 0rem;
    margin: 1rem 0 0 0;
    padding: 1rem 0 1rem 0;
    z-index: 160;
    background-color: #EA5045;
    width: 100vw;
    height: 4.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 900px;
    margin: 0 auto;
    align-items: flex-end;
}

.header2 {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-right: 0rem;
}

.header3 {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
}

.header_innerbox {
    display: flex;
    flex-wrap: nowrap;
}

.header_logo img {
    width: 6rem;
    top: 1.55rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
}

.header_profil img {
    width: 1.7rem;
    top: 1.3rem;
    right: 4rem;
    margin-left: 1rem;
    margin-right: 1.5rem;
    z-index: 160;
}

.header_skema img {
    width: 1.75rem;
    top: 1.3rem;
    margin-left: 1rem;
}


/*--------------------------------
4: DIV'ER
--------------------------------*/

#materiale_wrapper .beskrivelsesbox,
#skema_wrapper .beskrivelsesbox {
    background-color: #DEDCDB;
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    top: 4.4rem;
    z-index: 100;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
}

.beskrivelsesbox p {
    font-size: 1.3rem;
    margin: 1rem 1rem;
    line-height: 2rem;
}

.beskrivelsesbox .greyed_out1,
.beskrivelsesbox .greyed_out2 {
    font-size: 0.9rem;
    color: #707070;
}

.beskrivelsesbox .greyed_out2 {
    text-align: right;
}

.greyed_out .flush_right {
    text-align: right;
}

.dateselector {
    background-color: #3F3140;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    max-width: 900px;
}

.date_wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 20rem;
    margin: 0 auto;
}

.dateselector img {
    width: 0.7rem;
    height: 1rem;
    position: relative;
    top: 1.7rem;
    margin: 0 auto;
}

.dateselector p {
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.dateselector span {
    font-size: 0.6rem;
}


/*--------------------------------
5: SPECIFIKT LOGIN
--------------------------------*/

.login {
    background-color: #FAF7F7;
}

#login_header {
    background-color: #EA5045;
    height: 13.5rem;
    margin: 0;
    padding: 0;
    max-width: 900px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;


}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#login_header img {
    width: 40vw;
    margin: 0 auto;
}

.checkbox,
.right,
.forgot {
    font-size: 0.75rem;
    color: #EA5045;
}

.flex_wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
}

.forgot {
    color: #3F3140;
    padding: 1rem;
}

.right {
    justify-content: flex-end;
    left: 13.3rem;
    margin-top: 0rem;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
    position: relative;
    top: 0.1rem;
}

.flex {
    padding-left: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
}


/*--------------------------------
6: FORMS
--------------------------------*/

#email,
#pass {
    color: #EA5045;
}

input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
    color: #EA5045;
    font-size: 0.75rem;
}

input[type="submit"] {
    border-radius: 30vw;
    padding: 1rem 0;
    width: 70vw;
    max-width: 20rem;
}

input[type="email"],
input[type="password"] {
    border-radius: 30vw;
    padding: 1rem 1.5rem;
    width: 70vw;
    max-width: 20rem;
    border: 0;
}

input[type="email"] {
    margin-top: 4rem;
}

input[type="password"] {
    margin-top: 1.2rem;
}

#submit {
    color: #ffffff;
    background-color: #EA5045;
    border: 0;
    margin-top: 9rem;
}

#ani_knap {
    background-color: #EA5045;
    border: 0;
    border-radius: 30vw;
    width: 71vw;
    max-width: 20rem;
    height: 3rem;
    padding: 1rem 0rem;
    margin: 1rem 0 0 0;
    margin-top: 5rem;
    cursor: pointer;

}

#ani_knap p {
    color: #ffffff;
    position: relative;
    top: -0.75rem;
    text-align: center;
    font-size: 0.75rem;
}

#submit {
    cursor: pointer;
    font-size: 0.75rem;
}


/*--------------------------------
7: FACEBOOK-KNAP
--------------------------------*/

.wrapper #facebook_login p {
    color: #EA5045;
    font-size: 0.75rem;
    text-align: center;
    position: relative;
    top: -1.2rem;
}

.wrapper #facebook_login {
    background-color: #ffffff;
    border: 2px solid #EA5045;
    margin-top: 1.2rem;
    border-radius: 30vw;
    width: 70vw;
    max-width: 20rem;
    max-height: 3rem;
}

.wrapper #facebook_login img {
    max-height: 18px;
    position: relative;
    top: 0.8rem;
    padding-left: 1rem;
}


/*--------------------------------
8: SPECIFIKT INDEX
--------------------------------*/

#index_wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#grid_wrapper {
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 31vw;
    position: relative;
    top: 4.5rem;
    background-color: #F5ECEC;
    padding: 0.25rem 0.25rem 0.4rem 0.25rem;
    margin-bottom: 0.5rem;

}

.grid {
    margin: 0.3rem;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.grid img {
    width: 10vw;
    height: auto;
    max-width: 6rem;
    margin-top: 1rem;
}

#chat img {
    width: 14vw;
    margin-top: 0.7rem;
}

#grupper img {
    width: 15vw;
    margin-top: 0.7rem;
}

#tech img {
    width: 16vw;
    margin-top: 0.7rem;
}

#tech {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#docs img {
    width: 12vw;
    margin-top: 0.7rem;
}

#aktuelt {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

#grid_wrapper p {
    color: #EA5045;
    font-size: 2.5vw;
    margin-bottom: 5vw;
    ;
}

#aktuelt {
    justify-content: space-around;
}

#aktuelt .big {
    font-size: 6vw;
    margin: 0.5rem 0 0 0;
}

#aktuelt .bold {
    font-weight: bold;
}

#aktuelt p {
    text-align: left;
    font-size: 3vw;
}


/*--------------------------------
9: SPECIFIKT SKEMA
--------------------------------*/

.tasks {
    background-color: #F2F1F0;
}

.modul1 p,
.modul2 p,
.modul3 p,
.modul4 p {
    color: #BCC5D3;
    font-size: 0.9rem;
}

.modul1 .tasks p,
.modul2 .tasks p,
.modul3 .tasks p {
    color: #000000;
    font-size: 0.95rem;
}

.modul1 .tasks span,
.modul2 .tasks span,
.modul3 .tasks span {
    color: #000000;
    font-size: 0.75rem;
}

#date1,
#date2,
#date3 {
    position: absolute;
    top: 10.5rem;
    width: 100%;
    max-width: 900px;
}

#date1 .modul1,
#date1 .modul2,
#date1 .modul3,
#date1 .modul4,
#date2 .modul1,
#date2 .modul2,
#date2 .modul3,
#date2 .modul4,
#date3 .modul1,
#date3 .modul2,
#date3 .modul3,
#date3 .modul4 {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 1rem;
}

.modul1,
.modul2,
.modul3,
.modul4 {
    border-bottom: 1px solid #DEDCDB;
    border-top: 1px solid #DEDCDB;
    border-right: 1px solid #DEDCDB;
    border-left: 1px solid #DEDCDB;

}

.modul4 .tasks {
    background-color: white;
}

.modul3_wrapper .tasks {
    height: 4.25rem;

}

.tid,
.tid2 {
    width: 5rem;
    padding-left: 1rem;
    background-color: #ffffff;
}

.tid {
    border-bottom: 1px solid #DEDCDB;
}


.modul3_wrapper {
    width: 100%;
    height: 100%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.modul4 {
    margin-bottom: 5rem;
}

.tasks {
    width: 100%;
    margin-right: 1rem;
    border-right: 1px solid #DEDCDB;
    border-left: 1px solid #DEDCDB;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.tasks2 {
    width: 100%;
    height: 4.2rem;
    border-left: 1px solid #DEDCDB;
    border-right: 1px solid #DEDCDB;
}

.tasks img {
    width: 1.2rem;
    margin: 0.2rem 0;
}

.tasks figure {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.tasks p {
    padding-left: 1rem;
}


/*--------------------------------
10: SPECIFIKT MATERIALER
--------------------------------*/

.materiale_wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#date21,
#date22,
#date23 {
    position: absolute;
    top: 10.4rem;
    width: 100%;
    max-width: 900px;
    margin-bottom: 5rem;
}


.assignment {
    background-color: #F2F1F0;
    padding: 0.3rem 1.2rem;
    margin: 1rem;
}

.assignment p {
    font-size: 0.95rem;
}

.assignment span {
    font-size: 0.75rem;
}

.assignment img {
    width: 1.3rem;
    position: relative;
    right: -98%;
}


/*--------------------------------
11: FOOTER
--------------------------------*/

footer {
    background-color: #3F3140;
    position: fixed;
    bottom: 0vh;
    width: 100vw;
    height: 4rem;
    display: flex;
    flex-wrap: nowrap;
    max-width: 900px;
    z-index: 100;
    justify-content: center;
}

.footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;

}

.footer p {
    color: white;
    font-size: 0.75rem;
    margin-left: 0.5rem;
}


/*--------------------------------
12: MEDIAQUERIES
--------------------------------*/


@media (min-width: 600px) {
    #login_header img {
        top: 4.8rem;
        width: 15rem;
    }
}

@media (min-width: 700px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        display: none;
    }

    #menu li {
        display: inline-block;
    }

    .nav {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        position: absolute;
        justify-content: space-between;
        top: -4rem;
        left: 7.5rem;
    }

    .nav {
        width: 72%;
        padding-left: 4%;
    }

    .nav a {
        color: white;
        font-size: 1.5vw;
    }


    .header_profil img {
        margin-right: 0.5rem;
    }

    .header_skema img {
        display: none;
    }
}

@media (min-width: 897px) {

    #date1,
    #date2,
    #date3 {
        border-top: 0;
        border-bottom: 0;
        margin: 0;
        width: 100%;
        max-width: 900px;
    }

    #grid_wrapper {
        grid-auto-rows: 17rem;
    }

    #chat img {
        width: 16vw;

    }

    #grupper img {
        width: 17vw;

    }

    #grid_wrapper p {
        color: #F58E81;
        font-size: 1.2rem;
        margin-bottom: 4rem;
        ;
    }

    #aktuelt .big {
        font-size: 4rem;
        margin: 0.5rem 0 0rem 0;
    }

    #aktuelt p {
        text-align: left;
        font-size: 1.5rem;
    }

    .nav a {
        color: white;
        font-size: 0.9rem;
    }

    .assignment,
    .modul1,
    .modul2,
    .modul3,
    .modul4 {
        margin: 1rem 0;
    }
}


/*--------------------------------
13: ANIMATIONER
--------------------------------*/

.kea_blivemindre {
    animation-name: kea_blivemindre_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes kea_blivemindre_kf {
    0% {
        transform: translate(0);
    }


    100% {
        transform: translate(-30vw, -9.8vw);
        width: 6rem;
        opacity: 0.5;
    }
}

.kea_hover {
    animation-name: kea_hover_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes kea_hover_kf {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }


    100% {
        transform: scale(1);
    }
}

.skema_ani {
    animation-name: skema_ani_kf;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes skema_ani_kf {
    0% {
        transform: translate(0);
        opacity: 1;
    }

    100% {
        transform: translate(0vw, 100vw);
        opacity: 0;
    }
}

.skema_ani2 {
    animation-name: skema_ani2_kf;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes skema_ani2_kf {
    0% {
        transform: translate(0);
        opacity: 1;
    }

    100% {
        transform: translate(50vw, 0vw);
        opacity: 0;
    }
}

.fadein {
    animation-name: fadein_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

@keyframes fadein_kf {
    0% {
        opacity: 0.7;
        background-color: rgba(240, 240, 240, 0.71);
    }

    100% {
        opacity: 1;
    }
}

.dissolve {
    animation-name: dissolve_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

@keyframes dissolve_kf {
    0% {
        opacity: 1;

    }

    50% {
        transform: translate(0vw, -3vw) scale(1.5);

    }

    100% {
        opacity: 0;
    }
}

.fadeout_right {
    animation-name: fadeout_right_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fadeout_right_kf {
    0% {
        transform: translate(0);
        opacity: 1;
        z-index: 90;
    }

    100% {
        transform: translate(50vw, 0vw);
        left: 200vw;
        opacity: 0;
    }
}

.fadein_right {
    animation-name: fadein_right_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fadein_right_kf {
    0% {
        transform: translate(50vw, 0vw);
        z-index: 90;
        opacity: 0;
    }

    100% {
        transform: translate(0);
        z-index: 90;
        opacity: 1;
    }
}

.fadeout_left {
    animation-name: fadeout_left_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fadeout_left_kf {
    0% {
        transform: translate(0);
        z-index: 90;
        opacity: 1;
    }

    100% {
        transform: translate(-50vw, 0vw);
        z-index: 90;
        opacity: 0;
    }
}

.fadein_left {
    animation-name: fadein_left_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes fadein_left_kf {
    0% {
        transform: translate(-50vw, 0vw);
        opacity: 0;
        z-index: 90;
    }

    100% {
        transform: translate(0);
        opacity: 1;
        z-index: 90;
    }
}
